<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="theme">
<head>
    <title>Ajouter un utilisateur</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3 container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Ajouter un utilisateur</h5>
                    <div class="card-body">
                        <form method="post" th:action="@{addUserRole}">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" th:value="${user.username}" th:text="${user.username}" name="username">
                                </div>
                                <div class="col">
                                    <select name="role" style="border-radius: 50px">
                                        <option th:each="role:${roles}" th:value="${role.role}"
                                                th:text="${role.getRole()}"></option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-outline-success" type="submit">Affecter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
