<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="theme">
<head>
    <title>Mélange</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mt-3">
        <table class="table table-hover">
            <tr>
                <td>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-white" th:href="@{listMelangeReference}">Références</a>
                            </h5>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-white" th:href="@{listMelanges}">Tous les mélanges</a>
                            </h5>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>
