<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="theme">
<head>
    <title>Liste des Machines</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3 container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">

                    <h5 class="card-header">Machines</h5>
                    <div class="card-body">
                        <form method="get" th:action="@{listMachines}">
                            <div class="form-inline">
                                <input class="form-control" type="text" name="keyword" id="keyword"
                                       placeholder="Chercher un utilisateur" th:value="${keyword}">
                                <button class="btn btn-outline-primary" type="submit">Chercher</button>
                            </div>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" id="table">
                                <tr>
                                    <th>Id</th>
                                    <th>Référence</th>
                                    <th>Nom</th>
                                    <th>Etat</th>
                                </tr>
                                <tr th:each="m:${machines}">
                                    <td th:text="${m.getId()}"></td>
                                    <td th:text="${m.getReference()}"></td>
                                    <td th:text="${m.getNom()}"></td>
                                    <td th:if="${m.etat==true}">Plein</td>
                                    <td th:if="${m.etat==false}">Vide</td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{editMachine(id=${m.getId()})}"
                                           class="btn btn-outline-warning">Modifier</a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form th:action="@{deleteMachine(id=${m.getId()})}" method="post">
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${5}"/>
                                            <button th:if="${m.etat==false}" type="submit"
                                                    class="btn btn-outline-danger"
                                                    onclick="return confirm('êtes-vous sûr de vouloir supprimer?');">
                                                Supprimer
                                            </button>
                                            <button disabled th:if="${m.etat==true}" type="submit"
                                                    class="btn btn-outline-secondary disabled">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                               th:href="@{formMachine}"
                               class="btn btn-block btn-outline-success mb-3">Ajouter une Machine</a>
                        </div>
                        <div class="card-footer">
                            <div class="container mt-3">
                                <ul class="nav nav-pills">
                                    <li th:each="page,status:${pages}">
                                        <a
                                                th:class="${status.index==currentPage?'btn btn-outline-primary':'btn'}"
                                                th:href="@{listMachines(page=${status.index}, keyword=${keyword})}"
                                                th:text="${status.index+1}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
