<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="theme">
<head>
    <title>Liste des mélanges</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid justify-content-center mt-3">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Mélanges</h5>
                    <div class="card-body">
                        <form method="get" th:action="@{listMelange}">
                            <div class="form-inline">
                                <input type="hidden" th:value="${ref_id}" name="ref_id">
                                <input type="hidden" th:value="${ref}" name="ref">
                                <input class="form-control" type="text" name="keyword" id="keyword"
                                       placeholder="Chercher un mélange" th:value="${keyword}">
                                <button class="btn btn-outline-primary" type="submit">Chercher</button>
                            </div>
                        </form>
                        <div class="container-fluid mt-3">
                            <table class="table table-hover" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>N° Lot</th>
                                    <th>Référence</th>
                                    <th>Date de fabrication</th>
                                    <th>Date de Récéption</th>
                                    <th>Date d'utilisation</th>
                                    <th>Dimension</th>
                                    <th>Poids</th>
                                    <th>Jours restants</th>
                                    <th>Emplacement</th>
                                </tr>
                                <tr th:each="m:${listMelange}">
                                    <!--                                    <td class="btn btn-success" th:if="${m.getJours()==0 || m.getJours()<60}" th:text="${m.id}"></td>-->
                                    <td th:text="${m.getId()}"></td>
                                    <!--                                   wrong <td th:text="${ref}"></td>-->
                                    <td th:text="${m.getReference().getReference()}"></td>
                                    <td th:text="${m.getLot()}"></td>
                                    <td th:text="${m.getDateFabrication()}"></td>
                                    <td th:text="${m.getDateReception()}"></td>
                                    <td th:text="${m.getDateUtilisation()}"></td>
                                    <td th:text="${m.dimension}"></td>
                                    <td th:text="${m.poids}"></td>
                                    <td th:text="${m.jours}" class="btn btn-success"
                                        th:if="${m.jours<=90 && m.jours>30}"></td>
                                    <td th:text="${m.jours}" class="btn btn-warning"
                                        th:if="${m.jours<=30 && m.jours>0}"></td>
                                    <td class="btn btn-danger" th:if="${m.jours<=0}">Expiré</td>
                                    <td th:if="${m.getEmplacement()!=null}"
                                        th:text="${m.getEmplacement().getEmplacement()}"></td>
                                    <td th:if="${m.getEmplacement()==null}">En cours d'utilisation</td>
                                    <td>
                                        <form th:action="@{useMelange(id=${m.getId()},ref_id=${ref_id}, ref=${ref})}"
                                              method="post">
                                            <input type="hidden" name="id" th:value="${m.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${5}"/>
                                            <input type="hidden" name="ref_id" th:value="${ref_id}">
                                            <input type="hidden" th:value="${ref}" name="ref">
                                            <button class="btn btn-outline-primary">Retirer</button>
                                        </form>
                                    </td>

                                    <td>
                                        <a th:href="@{editMelange(id=${m.getId()}, ref_id=${ref_id}, ref=${ref})}"
                                           class="btn btn-outline-warning">Modifier</a>
                                    </td>
                                    <td>
                                        <form th:action="@{deleteMelange(ref_id=${ref_id}, ref=${ref})}" method="post">
                                            <input type="hidden" name="id" th:value="${m.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${5}"/>
                                            <input type="hidden" name="ref_id" th:value="${ref_id}">
                                            <input type="hidden" th:value="${ref}" name="ref">
                                            <button type="submit"
                                                    class="btn btn-outline-danger"
                                                    onclick="return confirm('Are you sure you want to delete this item?');">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <a th:href="@{formMelange(ref_id=${ref_id}, ref=${ref})}"
                                   class="btn btn-block btn-outline-success mb-3">Ajouter un mélange</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="container justify-content-center mt-3 container-fluid">
                                <ul class="nav nav-pills">
                                    <input type="hidden" th:value="${ref_id}" name="id">
                                    <input type="hidden" th:value="${ref}">
                                    <li th:each="page,status:${pages}">
                                        <a
                                                th:class="${status.index==currentPage?'btn btn-outline-primary':'btn'}"
                                                th:href="@{listMelange(page=${status.index}, ref_id=${ref_id}, ref=${ref})}"
                                                th:text="${status.index+1}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
