<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="theme">
<head>
    <title>Liste des références des inserts</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3 container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">

                    <h5 class="card-header">Références Inserts</h5>
                    <div class="card-body">
                        <form method="get" th:action="@{composantRef}">
                            <div class="form-inline">
                                <input class="form-control" type="text" name="keyword" id="keyword"
                                       placeholder="Chercher une référence" th:value="${keyword}">
                                <button class="btn btn-outline-primary" type="submit">Chercher</button>
                            </div>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Référence</th>
                                    <th>Inserts</th>
                                    <th>Quantité d'inserts</th>
                                </tr>
                                <tr th:each="v:${composantRef}">
                                    <td th:text="${v.id}"></td>
                                    <td th:text="${v.reference}"></td>
                                    <td>
                                        <a th:href="@{listComposant(ref_id=${v.id}, ref=${v.reference})}">Inserts</a>
                                    </td>
                                    <td th:text="${v.composants.size()}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{editComposantRef(id=${v.id})}"
                                           class="btn btn-outline-warning">Modifier</a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form th:action="@{deleteComposantRef}" method="post">
                                            <input type="hidden" name="id" th:value="${v.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${size}"/>
                                            <button disabled th:if="${v.composants.size()!=0}" type="submit"
                                                    class="btn btn-outline-danger">
                                                Supprimer
                                            </button>
                                            <button th:if="${v.composants.size()==0}" type="submit"
                                                    class="btn btn-outline-danger"
                                                    onclick="return confirm('êtes-vous sûr de vouloir supprimer?');">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <a th:href="@{formComposantRef}"
                               class="btn btn-block btn-outline-success mb-3">Ajouter une référence</a>
                        </div>
                        <div class="card-footer">
                            <div class="container mt-3">
                                <ul class="nav nav-pills">
                                    <li th:each="page,status:${pages}">
                                        <a
                                                th:class="${status.index==currentPage?'btn btn-outline-primary':'btn'}"
                                                th:href="@{composantRef(page=${status.index}, keyword=${keyword})}"
                                                th:text="${status.index+1}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
