<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="theme">
<head>
    <title>Liste des références des mélanges</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3 container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">

                    <h5 class="card-header">Références Mélange</h5>
                    <div class="card-body">
                        <form method="get" th:action="@{melangeRef}">
                            <div class="form-inline">
                                <input class="form-control" type="text" name="keyword" id="keyword"
                                       placeholder="Chercher une référence" th:value="${keyword}">
                                <button class="btn btn-outline-primary" type="submit">Chercher</button>
                            </div>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" id="table">
                                <tr>
                                    <th class="bg-info text-white">ID</th>
                                    <th class="bg-info text-white">Référence</th>
                                    <th class="bg-info text-white">Quantité de mélanges</th>
                                    <th class="bg-info text-white">Poids total</th>
                                </tr>
                                <tr th:each="v:${melangeref}">
                                    <td th:text="${v.id}"></td>
                                    <td>
                                        <a th:href="@{listMelange2(ref_id=${v.id}, ref=${v.reference}, poidsTot=${v.getPoidsTot()})}" th:text="${v.reference}"></a>
                                    </td>
                                    <td th:text="${v.melanges.size()}"></td>
                                    <td th:text="${v.getPoidsTot()}" class="btn btn-danger"
                                        th:if="${v.getPoidsTot()<1000}"></td>
                                    <td th:text="${v.getPoidsTot()}" class="btn btn-warning"
                                        th:if="${v.getPoidsTot()<=1100 && v.getPoidsTot()>=900}"></td>
                                    <td th:text="${v.getPoidsTot()}" class="btn btn-success"
                                        th:if="${v.getPoidsTot()>1000}"></td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{editMelangeRef(id=${v.id})}"
                                           class="btn btn-outline-warning">Modifier</a>
                                    </td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form th:action="@{deleteMelangeRef}" method="post">
                                            <input type="hidden" name="id" th:value="${v.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${size}"/>
                                            <button disabled th:if="${v.melanges.size()!=0}" type="submit"
                                                    class="btn btn-outline-secondary">
                                                Supprimer
                                            </button>
                                            <button th:if="${v.melanges.size()==0}" type="submit"
                                                    class="btn btn-outline-danger"
                                                        onclick="return confirm('êtes-vous sûr de vouloir supprimer?');">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="container mt-3">
                                <ul class="nav nav-pills">
                                    <li th:each="page,status:${pages}">
                                        <a
                                                th:class="${status.index==currentPage?'btn btn-outline-primary':'btn'}"
                                                th:href="@{melangeRef(page=${status.index}, keyword=${keyword})}"
                                                th:text="${status.index+1}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
