<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="theme">
<head>
    <title>Confirmation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center container-fluid">
            <div class="col-md-6">
                <div class="card mt-4">

                    <div class="card-body">
                        <h3 class="card-title text-muted">Enregistré!</h3>
                        <hr>
                        <div class="form-group row ml-4">
                            <label class="col-form-label mr-3 font-weight-bold">Nom : </label>
                            <label class="col-form-label" th:text="${user.getNom()}"></label>
                        </div>
                        <div class="form-group row ml-4">
                            <label class="col-form-label mr-3 font-weight-bold">Prénom : </label>
                            <label class="col-form-label" th:text="${user.getPrenom()}"></label>
                        </div>
                        <div class="form-group row ml-4">
                            <label class="col-form-label mr-3 font-weight-bold">¨Profession : </label>
                            <label class="col-form-label" th:text="${user.getProfession()}"></label>
                        </div>
                        <div class="form-group row ml-4">
                            <label class="col-form-label mr-3 font-weight-bold">Rôle : </label>
                            <label class="col-form-label" th:text="${role.getRole()}"></label>
                        </div>
                    </div>
                </div>
                <!--<a th:href="@{melangeRef}"
                   class="btn btn-block btn-outline-primary mb-3">Liste références mélange</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
