<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="theme">
<head>
    <title>Confirmation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3 container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Ajouter une machine</h5>
                    <div class="card-body">
                        <form method="post" th:action="@{melangeMachine}">
                            <div class="form-group">
                                <label>Melange : </label>
                                <input type="text" class="form-control" th:value="${melange.getLot()}" name="lot" readonly>
                            </div>
                            <div class="form-group">
                                <label>Machine : </label>
                                <select name="reference" style="border-radius: 50px">
                                    <option th:each="reference:${machines}" th:value="${reference.getReference()}"
                                            th:text="${reference.getReference()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
